body {
  margin: 0px;
  background-color: #f5d9d5;
  font-family: 'nunito', sans-serif;
}

#top-navbar a:first-child {
  color: #EA1C2C;
}

#top-navbar a:last-child {
  color: #fff;
  font-size: 25px;
}

#top-navbar a:last-child:hover {
  color: #EA1C2C;
}